@import "scss/vars";
@import "scss/animations";
@import "scss/buttons";
@import "scss/containers";
@import "scss/inputs";
@import "scss/reset";

.topbar {
  width: 100%;
  height: 30px;
  display: flex;
  background: black;
}

main {
  img {
    width: 120px;
  }

  h4 {
    color: $white;
    text-shadow: 0 2px 5px rgba($black, 0.4);
    margin-bottom: 5px;
  }

  .time-each {
    position: relative;
    width: 275px;
    background: $bg;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: -2px -2px 4px 0 rgba($white, 1), inset 1px 1px 1px 0 rgba($white, 0.2), 2px 2px 4px 0 rgba($white, 0.2), inset -1px -1px 1px 0 rgba($black, 0.4);
  }

  .time-stop {
    position: relative;
    width: 275px;
    background: $bg;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: -2px -2px 4px 0 rgba($white, 1), inset 1px 1px 1px 0 rgba($white, 0.2), 2px 2px 4px 0 rgba($white, 0.2), inset -1px -1px 1px 0 rgba($black, 0.4);
  }

  .selector {
    position: absolute;
    top: 4px;
    width: calc(100% / 4 - 8px);
    height: calc(100% - 8px);
    background: $pri;
    border-radius: 30px;
    box-shadow: -2px -2px 4px 0 rgba($pri, 1), inset 1px 1px 1px 0 rgba($white, 0.2), 2px 2px 4px 0 rgba($pri, 0.2), inset -1px -1px 1px 0 rgba($black, 0.2);
    transition: 500ms ease-out;
  }

  .btn {
    cursor: pointer;
    width: calc(100% / 4);
    padding: 15px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    z-index: 1;
    user-select: none;
  }

  .pos1 {
    left: calc(0% + 4px);
  }
  .pos2 {
    left: calc(25% + 4px);
  }
  .pos3 {
    left: calc(50% + 4px);
  }
  .pos4 {
    left: calc(75% + 4px);
  }

  button {
    width: 130px;
  }
}

.modal {
  position: relative;
  background: rgba($black, 0.1);
  color: $white;

  h1 {
    margin-bottom: 20px;
  }

  .progress {
    position: absolute;
    width: 125vw;
    height: 125vw;
    background: rgba($pri, 0.7);
    border-radius: 50%;
    z-index: -1;
  }

  .secs10 {
    animation: grow 10s linear;
  }
  .secs20 {
    animation: grow 20s linear;
  }
  .secs30 {
    animation: grow 30s linear;
  }
  .secs60 {
    animation: grow 60s linear;
  }

  @keyframes grow {
    from {
      width: 125vw;
      height: 125vw;
    }
    to {
      width: 0;
      height: 0;
    }
  }
}
